.auth-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

.auth-container {
  display: flex;
  width: 900px;
  height: 700px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.auth-left {
  flex: 1;
  padding: 60px;
}

.auth-title {
  color: #4a148c;
  margin-bottom: 30px;
}

.auth-form label {
  display: block;
  margin: 15px 0 8px;
  font-weight: 500;
  color: #333;
}

.auth-input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  transition: 0.3s;
}

.auth-input:focus {
  border-color: #7b1fa2;
  background-color: #fff;
}

.auth-btn {
  margin-top: 30px;
  width: 100%;
  padding: 14px;
  background: #4a148c;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #6a1b9a;
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
.login-options label {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap; /* Ngăn không cho chữ xuống dòng */
}

.login-options input[type="checkbox"] {
  transform: scale(1.1);
  accent-color: #5a189a;
  cursor: pointer;
}


.login-options a {
  color: #5a189a;
  text-decoration: none;
}

.auth-bottom-text {
  text-align: center;
  margin-top: 20px;
  color: #333;
}
.logout-btn {
  width: 150px; /* chiều rộng mong muốn */
  margin-bottom: 20px;
}
.auth-bottom-text a {
  color: #5a189a;
  text-decoration: none;
  font-weight: 500;
}

.auth-message {
  color: #4a148c;
  margin-top: 15px;
  text-align: center;
}

.auth-right {
  flex: 1;
  background: linear-gradient(135deg, #4a148c, #7b1fa2, #9c27b0, #ba68c8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 80px;
}

